* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: #f1f2f3;
}
.container {
  width: 1122px;
  height: 3174px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
ul {
  width: 1000px;
  height: 3174px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
li {
  width: 1000px;
  height: 488px;
}

.biaoti {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-weight: 700;
  color: #333;
}

.biaoti p:nth-child(1) {
  font-size: 64px;
}

.biaoti p:nth-child(2) {
  font-size: 56px;
}

.biaoti p:nth-child(3) {
  font-size: 48px;
}

img {
  width: 100%;
}

/* 可选：为触发图片添加悬停效果或其他样式 */
.image-thumbnail {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2% 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* 保证模态框显示在其他内容之上 */
}

.hidden {
  display: none;
}

.modal-content {
  position: relative;
}
#close-modal {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  background-color: red;
}
