/* ------------ 2021 ------------ */



/* 不打印侧边栏 */
@media print {
	.side {
		display: none !important;
	}


}

/* ------------ 侧边栏 start ------------ */
.side {
	position: fixed;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.side li {
	width: 48px;
	height: 48px;
	line-height: 48px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	color: #888;
	text-align: center;
}

.side li:hover {
	color: #000;
	font-weight: 700;
}

/* ------------ 侧边栏 end ------------ */

/* ------------ 配色 start ------------ */
.side li:nth-child(1) {
	background-color: #1989fa;
}

.side li:nth-child(2) {
	background-color: #5cb87a;
}

.side li:nth-child(3) {
	background-color: #f56c6c;
}

.side li:nth-child(4) {
	background-color: #ffc107;
}

/* ------------ 配色 end ------------ */
