/* 不打印侧边栏 */
@media print {
    .side {
        display: none !important;
    }

    .xiangmu .list-wrap:nth-child(2) {
        padding-top: 30px;
    }
}

/* ------------ 侧边栏 start ------------ */
.side {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.side li {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #888;
    text-align: center;
}

.side li:hover {
    color: #000;
    font-weight: 700;
}
/* ------------ 侧边栏 end ------------ */

/* ------------ 配色 start ------------ */
.peise {
    position: relative;
}
.peise ul {
    /* display: flex; */
    position: absolute;
    bottom: 50px;
    /* right: 50px; */
    display: none;
}
.peise:hover #peise {
    /* display: flex; */
    display: block;
}

#peise li:nth-child(1) {
    background-color: #1989fa;
}

#peise li:nth-child(2) {
    background-color: #5cb87a;
}

#peise li:nth-child(3) {
    background-color: #f56c6c;
}

#peise li:nth-child(4) {
    background-color: #ffc107;
}
/* ------------ 配色 start ------------ */

/* ------------ 下载 start ------------ */
.down {
    position: relative;
}
.down ul {
    /* display: flex; */
    position: absolute;
    top: 50px;
    /* right: 50px; */
    display: none;
}
/* hover 显示 */
.down:hover #down {
    /* display: flex; */
    display: block;
}

#down li:nth-child(1) {
    color: #1989fa;
}

#down li:nth-child(2) {
    color: #5cb87a;
}

#down li:nth-child(3) {
    color: #f56c6c;
}

#down li:nth-child(4) {
    color: #ffc107;
}
#down li:nth-child(1):hover {
    border-color: #1989fa;
}

#down li:nth-child(2):hover {
    border-color: #5cb87a;
}

#down li:nth-child(3):hover {
    border-color: #f56c6c;
}

#down li:nth-child(4):hover {
    border-color: #ffc107;
}
/* ------------ 下载 end ------------ */
