:root {
  --body-bg: #f1f2f3;
  --page-bg: #bbccdd;
  --page-bg: #fff;
  --h1-color: #123;
  --line-color: #000;
  --h2-bg: #fff;
  --h2-border: #1994ff;
  --h2-color: #1994ff;
  --module-bg: #fafafa;
  --module-bg: #fafbfc;
  --module-border: #ccc;
  --module-border: transparent;
  --h3-bg: blue;
  --h3-bg: transparent;
  --h3-bg-2n: red;
  --h3-bg-2n: transparent;
  --h3-color: #456;
  --p-color: #789;
  --span-color: #abc;
  --sanjiao-color: blue;
  --sanjiao-color: #fff;
  --sanjiao-color: var(--module-bg);
  --sanjiao-size: 15px;
  --sanjiao-top: 10px;
  --sanjiao-color-2n: red;
  --sanjiao-color-2n: #fff;
  --sanjiao-color-2n: var(--module-bg);
  --circle-border: #44bb88;
  --circle-bg: #fff;
  --circle-bg: var(--page-bg);
  --circle-size: 16px;
  --circle-border-size: 4px;
  --big-circle-border: #1994ff;
  --big-circle-bg: #fff;
  --big-circle-bg: var(--page-bg);
  --big-circle-size: 24px;
  --big-circle-border-size: 6px;
  --mb-size: 2rem;
  --font-family: sans-serif;
}

.clearfix:after, #timeline .timeline-item:after, .clearfix:before, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: var(--body-bg);
  background-size: cover;
  line-height: 1.5;
  font-family: var(--font-family);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  color: var(--h3-color);
}

p {
  color: var(--p-color);
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-all;
}

p > span {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--page-bg);
  padding: 2rem;
}

header {
  text-align: center;
}

header p {
  color: #888;
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

#timeline {
  background-color: var(--line-bg);
  width: 100%;
  margin: 2rem auto;
  position: relative;
  padding: 0 1rem;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--line-color);
  left: 50%;
  top: 0;
  position: absolute;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  text-align: right;
  margin-bottom: var(--mb-size);
  position: relative;
  z-index: 1;
}

#timeline .timeline-item::before {
  background: var(--circle-bg);
  width: var(--circle-size);
  height: var(--circle-size);
  position: absolute;
  content: '';
  top: var(--sanjiao-top);
  left: 50%;
  overflow: hidden;
  margin-left: -7px;
  border: var(--circle-border-size) solid var(--circle-border);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#timeline .timeline-item:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item:nth-child(2n of .timeline-item) {
  text-align: left;
}

#timeline .timeline-item:nth-child(2n of .timeline-item) .timeline-content {
  float: right;
}

#timeline .timeline-item:nth-child(2n of .timeline-item) .timeline-content:before {
  left: -8px;
}

#timeline .timeline-item:nth-child(2n of .timeline-item) .timeline-content h3 {
  background-color: var(--h3-bg-2n);
}

#timeline .timeline-item .timeline-content {
  position: relative;
  z-index: 2;
  border: 1px solid var(--module-border);
  width: 45%;
  background: var(--module-bg);
  padding: .5rem 1rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.4));
}

#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  right: -8px;
  top: var(--sanjiao-top);
  width: var(--sanjiao-size);
  height: var(--sanjiao-size);
  background-color: var(--sanjiao-color);
  transform: rotate(30deg) skewX(-30deg) scale(1, 0.866);
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  z-index: 0 !important;
}

#timeline .timeline-item .timeline-content h3 {
  background: var(--h3-bg);
  color: var(--h3-color);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  position: relative;
}

#timeline .timeline-item .timeline-content p > span {
  color: var(--span-color);
}

#timeline .year-title {
  text-align: center;
  margin-bottom: var(--mb-size);
  position: relative;
}

#timeline .year-title h2 {
  margin: 0 auto;
  width: 10%;
  color: var(--h2-color);
  background-color: var(--h2-bg);
  border: 1px solid var(--h2-border);
  border-radius: 8px;
  z-index: 999;
}

#timeline .year-title h2:hover {
  color: var(--h2-bg);
  background-color: var(--h2-color);
}

footer {
  --footer-color: #369;
  --foot-hight: 30px;
  --footer-fz: 18px;
  height: var(--foot-hight);
  line-height: var(--foot-hight);
  font-size: var(--footer-fz);
  text-align: center;
  color: var(--footer-color);
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 4px;
}

footer ul li a {
  color: var(--footer-color);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  #timeline {
    padding-left: 0;
    margin-left: 2rem;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .year-title h2 {
    margin-left: 5%;
    min-width: 30%;
  }
  #timeline .year-title h2::after {
    position: absolute;
    content: '';
    width: var(--big-circle-size);
    height: var(--big-circle-size);
    background-color: var(--big-circle-bg);
    border: var(--big-circle-border-size) solid var(--big-circle-border);
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -11px;
  }
  #timeline .timeline-item {
    text-align: left;
  }
  #timeline .timeline-item::before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before {
    left: -8px;
  }
  #timeline .timeline-item:nth-child(2n of .timeline-item) .timeline-content::before {
    left: -8px;
  }
}

.timeline-item:hover::before {
  border-color: #ff5866 !important;
}

.timeline-content:hover {
  filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.8)) !important;
}
