<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>庄磊简历</title>
	<meta name="viewport" content="width=device-width" />
	<!-- favicon图标 -->
	<link rel="shortcut icon" href="../../static/favicon.png" type="image/x-icon">
	<!-- 51la网站统计 -->
	<script src="../../static/js/tongji.js"></script>
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="//at.alicdn.com/t/c/font_3846864_ne2hgo35mmf.css">
</head>

<body>

	<!-- ------------ 个人简历 start------------ -->
	<div class="resume" id="app">

		<!-- ------------ 简历头部 start------------ -->
		<header class="resume-head">
			<div class="bg-font">
				ZHUANGLEI
			</div>

			<div class="touxiang">
				<!-- 照片 -->
				<img src="./img/tx.jpg" alt="">
			</div>

			<!-- 姓名 -->
			<h2>{{datas.xinxi.user}}<i></i></h2>

			<!-- 求职意向 -->
			<div class="qiuzhi">
				{{datas.xinxi.name}}：{{datas.xinxi.text}}
			</div>

			<!-- 徽章标签 -->
			<ul class="huizhang">
				<li v-for="(item, index) in datas.huizhang.data" :key="index" v-show="index < 7">
					{{item.text}}
				</li>
			</ul>



		</header>
		<!-- ------------ 简历头部  end ------------ -->

		<!-- ------------ 简历主体 start------------ -->
		<main class="resume-main">
			<!-- ------------ 简历左侧 start------------ -->
			<div class="resume-left">
				<!-- ------------ 个人信息 start------------ -->
				<section class="module xinxi">
					<div class="module-title">
						{{datas.xinxi.title}}
					</div>
					<div class="module-content">

						<div class="module-wrap">
							<ul>
								<li v-for="(item, index) in datas.xinxi.data" :key="index" v-show="index<4">
									{{item.text}}
								</li>
							</ul>
						</div>

					</div>
				</section>
				<!-- ------------ 个人信息  end ------------ -->

				<!-- ------------ 教育背景 start------------ -->
				<section class="module jiaoyu">
					<div class="module-title">
						{{datas.jiaoyu.title}}
					</div>
					<div class="module-content ">
						<div class="module-wrap" v-for=" (item, index) in datas.jiaoyu.data" :key="index">
							<!-- <img :src="item.img"> -->
							<ul>
								<li><img :src="item.img"></li>
								<li>{{ item.time }}</li>
								<li>{{ item.name }}</li>
								<li>{{ item.type }}</li>

							</ul>
						</div>

					</div>
				</section>
				<!-- ------------ 教育背景  end ------------ -->

				<!-- ------------ 专业技能 start------------ -->
				<section class="module zhiye">
					<div class="module-title">
						职业技能
					</div>
					<div class="module-content">
						<div class="module-wrap">
							<ul class="bar">
								<li v-for="(item, index) in datas.zhiye.data" :key="index">
									<span>{{item.name}}</span>
									<div><i :style="{width: item.text+'%'}"></i></div>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- ------------ 专业技能  end ------------ -->

				<!-- ------------ 荣誉证书-右 start------------ -->
				<section class="module rongyu">
					<div class="module-title">
						{{datas.rongyu.title}}
					</div>
					<div class="module-content ">
						<div class="module-wrap">
							<ul>
								<li v-for=" (item, index) in datas.rongyu.data" :key="index">{{ item.name }}{{ item.text }}</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- ------------ 荣誉证书-左  end ------------ -->

			</div>
			<!-- ------------ 简历左侧  end ------------ -->

			<!-- ------------ 简历右侧 start------------ -->
			<div class="resume-right">




				<!-- ------------ 工作经验 start------------ -->
				<section class="module">
					<div class="module-title">
						{{datas.gongzuo.title}}
					</div>
					<div class="module-content">
						<div class="module-wrap" v-for="(item, index) in datas.gongzuo.data" :key="index" v-show="index<4">

							<ul class="col-3">
								<li>{{item.time}}</li>
								<li>{{item.name}}</li>
								<li>{{item.type}}</li>
							</ul>
							<div class="item-edit">
								<ol v-for="(item, index) in item.data" :key="index">
									<li>{{item.text}}</li>
								</ol>
							</div>

						</div>
					</div>
				</section>
				<!-- ------------ 工作经验  end ------------ -->




				<!-- ------------ 项目经验 start------------ -->
				<section class="module xiangmu">
					<div class="module-title">
						{{datas.xiangmu.title}}
					</div>
					<div class="module-content">
						<div class="module-wrap" v-for="(item, index) in datas.xiangmu.data" :key="index" v-show="index<1">
							<!-- 左右两行 -->
							<ul class="item-col2">
								<li v-if="item.name">{{item.name}}</li>
								<li v-if="item.text">{{item.text}}</li>
							</ul>
							<div class="item-edit">
								<!-- 项目介绍 -->
								<p v-for="(item, index) in item.jieshao" :key="index">
									<strong>{{item.name}}：</strong><span>{{item.text}}</span>
								</p>
								<!-- 项目职责 -->
								<div>
									<strong>{{item.zhize.name}}：</strong>
									<ul>
										<li v-for="(item, index) in item.zhize.data" :key="index">
											{{item.text}}
										</li>
									</ul>
								</div>
							</div>



						</div>
					</div>
				</section>
				<!-- ------------ 项目经验  end ------------ -->

				<!-- ------------ 专业技能 start------------ -->
				<section class="module jineng" v-if="datas.jineng">
					<div class="module-title">
						{{datas.jineng.title}}</h3>
					</div>
					<div class="module-content">

						<div class="module-wrap">
							<div class="item-edit">
								<ul>
									<li v-for="(item, index) in datas.jineng.data" :key="index" v-show="index < 6 ">
										{{item.text}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- ------------ 专业技能  end ------------ -->
				<!-- ------------ 培训经历 start ------------ -->
				<section class="module">
					<div class="module-title">
						{{datas.peixun.title}}
					</div>
					<div class="module-content">
						<div class="module-wrap" v-for="(item, index) in datas.peixun.data" :key="index" v-show="index<4">

							<ul class="col-3">
								<li>{{item.time}}</li>
								<li>{{item.name}}</li>
								<li>{{item.type}}</li>
							</ul>


						</div>
					</div>
				</section>
				<!-- ------------ 培训经历  end ------------ -->
				<!-- ------------ 荣誉证书 start ------------ -->
				<section class="module zhengshu" v-if="datas.zhengshu">
					<div class="module-title">
						{{datas.zhengshu.title}}</h3>
					</div>
					<div class="module-content">

						<div class="module-wrap">
							<div class="col-2">
								<!-- 左边 -->
								<ul>
									<li v-for="(item, index) in datas.zhengshu.data.ry" :key="index" v-show="index<6">
										{{item.name}}{{item.text}}
									</li>
								</ul>
								<!-- 右边 -->
								<ul>
									<li v-for="(item, index) in datas.zhengshu.data.zs" :key="index" v-show="index<6">
										{{item.name}}{{item.text}}
									</li>
								</ul>
							</div>

						</div>
					</div>
				</section>
				<!-- ------------ 荣誉证书 end ------------ -->
				<!-- ------------ 个人评价 start ------------ -->
				<section class="module jineng" v-if="datas.pingjia">
					<div class="module-title">
						{{datas.pingjia.title}}</h3>
					</div>
					<div class="module-content">

						<div class="module-wrap">
							<div class="item-edit">
								<ul>
									<li v-for="(item, index) in datas.pingjia.data" :key="index" v-show="index < 6 ">
										{{item.text}}
									</li>
								</ul>
							</div>
						</div>

					</div>
				</section>
				<!-- ------------ 个人评价 end ------------ -->



			</div>
			<!-- ------------ 简历右侧  end ------------ -->
		</main>
		<!-- ------------ 简历主体  end ------------ -->

		<!-- ------------ 底部版权 start------------ -->
		<footer class="resume-foot">

			<ul>
				<li>&copy;</li>
				<li><a href="//bealei.com">bealei</a></li>
				<li>by</li>
				<li><a href="//zhuanglei.top">zhuanglei</a></li>
			</ul>
		</footer>
		<!-- &copy; bealei.com | <a href="//zhuanglei.top">zhuanglei</a> -->
		<!-- ------------ 底部版权  end ------------ -->

	</div>
	<!-- ------------ 个人简历  end ------------ -->


	<script src="./js/vue-2.7.14.min.js"></script>
	<script src="./js/datajson.js"></script>

<script>
	Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。
		new Vue({
		el: '#app',

		data() {
		return {
		datas: res.content,

		};
		},


		});
</script>

</body>

</html>