<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>庄磊简历 v1.0</title>
    <meta name="viewport" content="width=device-width" />
    <!-- favicon图标 -->
    <link rel="shortcut icon" href="../../static/favicon.png" type="image/x-icon">
    <!-- 51la网站统计 -->
    <script src="../../static/js/tongji.js"></script>
    <!-- iconfont -->
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/c/font_2969103_117wkqbc6tln.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/side.css">
    <link rel="stylesheet" href="./css/iconfont.css">
    <script src="./js/iconfont.js"></script>
    <!-- 侧边栏 -->
    <script src="./js/side.js"></script>
</head>

<body>

    <div class="resume" id="app">
        <!-- ------------------------ 头部 ------------------------ -->
        <header>
            <div class="head-content">
                <span>PERSONAL RESUME</span>
            </div>
        </header>

        <!-- ------------------------ 主内容 ------------------------ -->
        <main>
            <!-- ---------------- 左侧 ---------------- -->
            <div class="main-left">
                <section class="base">
                    <div class="title">个人简历</div>
                    <div class="photo">
                        <img src="./img/tx.png" alt="photo">
                    </div>
                    <div class="name">庄磊</div>
                    <div class="post">求职意向：开发工程师</div>
                </section>

                <!-- -------- 个人资料 -------- -->
                <section class="box xinxi">
                    <div class="box-title">基本信息 Basic Info</div>
                    <div class="box-content">
                        <ul>
                            <li><span>年龄：</span>1994.08</li>
                            <li><span>籍贯：</span>福建莆田</li>
                            <li><span>学历：</span>本科</li>
                            <li><span>专业：</span>计算机应用技术</li>
                            <li><span>手机：</span>13145205866</li>
                            <li><span>邮箱：</span>bealei@qq.com</li>
                        </ul>
                    </div>
                </section>

                <!-- -------- 荣誉证书 -------- -->
                <section class="box zhengshu">
                    <div class="box-title">荣誉证书 Certificate</div>
                    <div class="box-content">
                        <ul>
                            <li><span>H3C"维诺克杯"：</span>一等奖</li>
                            <li><span>湄洲湾职业学院：</span>二等奖学金</li>
                            <li><span>湄洲湾职业学院：</span>三好学生</li>
                            <li><span>湄洲湾职业学院：</span>优秀军训教官</li>
                            <li><span>中软国际(厦门)：</span>优秀项目</li>
                            <li><span>企业网络安全：</span>中级</li>
                            <li><span>Photoshop</span>中级</li>
                        </ul>
                    </div>
                </section>

                <!-- -------- 专业技能 -------- -->
                <section class="box zhiye">
                    <div class="box-title">职业技能 Major Skills</div>
                    <div class="box-content">
                        <ul>
                            <li><span>Web</span>
                                <div><i style="width: 60%"></i></div>
                            </li>
                            <li><span>Java</span>
                                <div><i style="width: 70%"></i></div>
                            </li>
                            <li><span>SQL</span>
                                <div><i style="width: 40%"></i></div>
                            </li>
                            <li><span>Linux</span>
                                <div><i style="width: 20%"></i></div>
                            </li>

                        </ul>
                    </div>
                </section>
            </div>
            <!-- 左侧 -->
            <!-- ---------------- 右侧 ---------------- -->
            <div class="main-right">

                <!-- -------- 教育背景 -------- -->
                <section class="module">
                    <div class="module-title">
                        <div class="r-logo">
                            <i class="i iconfont icon-jiaoyu"></i>
                        </div>
                        <h3>教育背景</h3>
                        <div class="hr"></div>
                    </div>
                    <div class="module-content">
                        <div class="list-wrap">
                            <ul class="item-col-3">
                                <li>2018.03~2021.01</li>
                                <li>福建师范大学</li>
                                <li>管理学学位</li>
                            </ul>
                            <ul class="item-col-3">
                                <li>2019.11~2022.06</li>
                                <li>湄洲湾职业技术学院</li>
                                <li>计算机应用技术</li>
                            </ul>
                            <ul class="item-col-3">
                                <li>2001.12~2022.03</li>
                                <li>国家开放大学</li>
                                <li>工商管理</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <!-- -------- 工作经历 -------- -->
                <section class="module" ">
                    <div class=" module-title">
                    <div class="r-logo">
                        <i class="i iconfont icon-work0"></i>
                    </div>
                    <h3>工作经验</h3>
                    <div class="hr"></div>
            </div>
            <div class="module-content">
                <div class="list-wrap">
                    <ul class="item-col-3">
                        <li>2019.04~2019.11</li>
                        <li>百威（中国）啤酒博物馆</li>
                        <li>文创销售</li>
                    </ul>
                    <div class="item-edit">
                        <ul>
                            <li>负责博物馆文创区商品销售，接待社会团体参观、讲解、研学等。</li>
                        </ul>
                    </div>
                </div>
                <div class="list-wrap">
                    <ul class="item-col-3">
                        <li>2018.10~2019.03</li>
                        <li>北京远大国际投资有限公司</li>
                        <li>高级副总裁司机</li>
                    </ul>
                    <div class="item-edit">
                        <ul>
                            <li>负责领导用车，协助处理日常事务，完成领导交办的其他工作。</li>
                        </ul>
                    </div>
                </div>
                <div class="list-wrap">
                    <ul class="item-col-3">
                        <li>2018.08~2018.10</li>
                        <li>上海恒润达生生物科技有限公司</li>
                        <li>行政司机</li>
                    </ul>
                    <div class="item-edit">
                        <ul>
                            <li>负责公司日常用车，接待客户、专家教授的行程，及其他事项。</li>
                        </ul>
                    </div>
                </div>
                <div class="list-wrap">
                    <ul class="item-col-3">
                        <li>2018.01~2019.07</li>
                        <li>广州粤贸贸易有限公司</li>
                        <li>门店店长</li>
                    </ul>
                    <div class="item-edit">
                        <ul>
                            <li>主要负责门店商品运营、销售，以及货物的出入库登记管理。</li>
                        </ul>
                    </div>
                </div>
                <div class="list-wrap">
                    <ul class="item-col-3">
                        <li>2012.12~2017.12</li>
                        <li>中国人民解放军·陆军</li>
                        <li>卫生员兼司机</li>
                    </ul>
                    <div class="item-edit">
                        <ul>
                            <li>配合军医抢救、治疗、护理部队伤病员，护送伤病员转诊上级医院</li>
                            <li>检查维护车况车容车貌，完成连队或上级首长交代的出车保障任务</li>
                        </ul>
                    </div>
                </div>
            </div>
            </section>



            <!-- -------- 培训经历 -------- -->
            <section class="module" v-if="datas.peixun">
                <div class="module-title">
                    <div class="r-logo">
                        <i class="i iconfont icon-jiaoyu"></i>
                    </div>
                    <h3>培训经历</h3>
                    <div class="hr"></div>
                </div>
                <div class="module-content">
                    <div class="list-wrap">
                        <ul class="item-col-3">
                            <li>2013.03~2013.08</li>
                            <li>白求恩医务士官学校</li>
                            <li>卫生勤务</li>
                        </ul>
                    </div>
                    <div class="list-wrap">
                        <ul class="item-col-3">
                            <li>2015.12~2016.06</li>
                            <li>集团军司机训练大队</li>
                            <li>汽车驾驶</li>
                        </ul>
                    </div>
                    <div class="list-wrap">
                        <ul class="item-col-3">
                            <li>2021.09~2021.12</li>
                            <li>中软卓越教育公司</li>
                            <li>Java 全栈</li>
                        </ul>
                        <div class="item-edit">
                            <div>
                                <strong>主修课程</strong>
                                <span>前端三件套、SSM 框架、Redis 缓存、MySQL数据库、SpringBoot、SpringCloud、Docker、BabbitMQ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- -------- 校园经历 -------- -->
            <section class="module" v-if="datas.xiaoyuan">
                <div class="module-title">
                    <div class="r-logo">
                        <i class="i iconfont icon-bianji"></i>
                    </div>
                    <h3>校园经历</h3>
                    <div class="hr"></div>
                </div>
                <div class="module-content">
                    <div class="list-wrap">
                        <div class="item-edit">
                            <p><strong>综测排名</strong><span>全班第二</span></p>
                            <p><strong>担任职务</strong><span>辅导员助理</span></p>
                            <p><strong>情况介绍</strong><span>在任职期间，协助辅导员处理班级日常工作；指导、协调、帮助班委、团支部组织各种学生活动； 做好学院、 学工处、
                                    系部交办的临时性学生管理活动。</span></p>
                        </div>
                    </div>
                </div>
            </section>



            <!-- -------- 自我评价 -------- -->
            <section class="module pingjia" v-if="datas.pingjia">
                <div class="module-title">
                    <div class="r-logo">
                        <i class="i iconfont icon-icon_attestation"></i>
                    </div>
                    <h3>自我评价</h3>
                    <div class="hr"></div>
                </div>
                <div class="module-content">
                    <div class="list-wrap">
                        <div class="item-edit">
                            <ul>
                                <li>善于思考，能够独立分析问题和解决问题。</li>
                                <li>"遵循代码的编写规范，有良好的注释习惯。</li>
                                <li>具有良好的逻辑思维能力和沟通交流能力。</li>
                                <li>有良好的心理素质，具有较强的抗压能力。</li>
                                <li>工作认真负责，具有良好的团队协作能力。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

    </div>
    <!-- 右侧 -->
    </main>
    <!-- 主内容 -->
    <!-- ------------------------ 底部 ------------------------ -->
    <footer>&copy; <a :href="datas.other.copy">bealei</a></footer>
    </div>
    <!-- ------------------------ 侧边栏 ------------------------ -->
    <aside>
        <ul>
            <li class="blue" onclick="blue()"></li>
            <li class="green"></li>
            <li class="red"></li>
            <li class="yellow"></li>
        </ul>
    </aside>
</body>






</html>