/* ------------------------ 主题配色 ------------------------ */
:root {

	/* -------红色主题------- */
	--color: #F56C6C;
	--color-1: #FDE1E1;
	--color-2: #FAB5B5;

	/* -------黄色主题------- */
	--color: #FFC107;
	--color-1: #FFF3CD;
	--color-2: #FFDA6A;

	/* -------绿色主题------- */
	--color: #5CB87A;
	--color: ##42bc7a;
	--color-1: #DEF0E4;
	--color-2: #ADDBBC;

	/* -------蓝色主题------- */
	--color: #1989FA;
	--color-1: #D1E7FE;
	--color-2: #8CC4FC;

	/* -------主题颜色------- */
	--theme-color: var(--color);
	/* 网页背景色 */
	--body-color: #f3f6f9;
	--left-ft-color: #777;

	/* 白色 */
	--color-white: #fff;

	/* -------头部背景色------- */
	--head-bg-color: var(--color-white);

	/* -------左边颜色------- */
	--left-bg-color: #edebec;
	--border-color: #ccc;
	/* 进度条背景 */
	--color-pagesbg: #f1f2f3;
	/* 进度条内容 */
	--color-pagebg1: var(--color-1);
	--color-pagebg2: var(--color-2);
	--color-pagebg3: var(--theme-color);
	/* 进度条内容边框 */
	--color-pageborder: var(--theme-color);

	/* -------右边颜色------ */
	--right-bg-color: var(--color-white);


}

/* ------------------------ 通用设置 ------------------------ */
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	box-sizing: border-box;
	/* 解决文字变大 */
	/* max-height: 9999999px; */
}

ul li {
	list-style: none;
}

body {
	background-color: var(--body-color);
}

/* 主盒子 */
.resume {
	width: 794px;
	margin: 0 auto;
	font-size: 16px;
	position: relative;
	height: 1122px;
	overflow: hidden;
}

/* ------------------------ 头部 ------------------------ */
header {
	width: 100%;
	height: 20px;
	background-color: var(--head-bg-color);
}

/* 白色背景块 */
header .head-content {
	width: 100%;
	height: 20px;
	background-color: var(--theme-color);
}

/* 主题色文字 */
header .head-content span {
	height: 20px;
	line-height: 20px;
	font-weight: 700;
	font-size: 20px;
	float: right;
	margin-right: 10%;
	padding: 0 20px;
	color: var(--theme-color);
	background-color: var(--color-white);
}

/* ------------------------ 主体 ------------------------ */
main {
	width: 100%;
	/* height: 1102px; */
	display: flex;
	position: relative;
}

/* ---------------- 左边 ---------------- */
.main-left {
	width: 242px;
	background-color: var(--left-bg-color);
}

/* 个人简历 */
.title {
	width: 166px;
	height: 36px;
	text-align: center;
	margin: 20px auto;
	font-size: 24px;
	color: var(--theme-color);
	border: 2px solid var(--theme-color);
	border-radius: 10px 0 10px 0px;
}

/* 证件照 */
.photo {
	text-align: center;
}

.base img {
	height: 120px;
	height: 160px;
}

/* 姓名 */
.name {
	height: 35px;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	color: var(--theme-color);
	margin: 20px auto;
}

/* 求职意向 */
.post {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: var(--theme-color);
	font-size: 18px;
	text-align: center;
}

/* -------- 盒子 -------- */
.box {
	width: 200px;
	margin: 30px auto;
}

/* 盒子标题 */
.box-title {
	height: 34px;
	font-size: 18px;
	font-weight: bold;
	color: var(--theme-color);
	text-align: center;
	border-bottom: 1px solid var(--border-color);
}

.box-content {
	font-size: 14px;
}

.box-content li {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid var(--border-color);
}

.box-content li span {
	width: 50px;
	text-align: end;
	display: inline-block;
}

/* 三个盒子不一样的宽度 */
.xinxi .box-content li span {
	width: 61px;
	text-align-last: justify;
	margin-left: 15px;
}

.zhengshu .box-content li span {
	width: 115px;
}

.zhiye .box-content li span {
	width: 59px;
}

/* 进度条 */
.box-content div {
	display: inline-block;
	background-color: var(--color-pagesbg);
	height: 10px;
	width: 66%;
	border-radius: 20px;
	box-shadow: inset 0 1px 2px rgb(0 0 0 /30%);
	padding-left: 2px;
}

/* 进度条进度 */
.box-content div i {
	display: block;
	height: 10px;
	line-height: 18;
	padding-left: 2px;
	border-radius: 20px;
	border: 1px solid var(--color-pageborder);
	background-image: linear-gradient(to bottom, var(--color-pagebg1) 0%, var(--color-pagebg2) 40%, var(--color-pagebg3) 100%);
}

/* ---------------- 右侧 ---------------- */
.main-right {
	width: 552px;
	font-size: 15px;
	background-color: var(--right-bg-color);
	padding: 20px 20px 0 22px;
}

/* -------- 右边盒子面板 -------- */
.module {
	width: 100%;
}

/* 右边盒子面板头部 */
.module-title {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 图标大小 */
.r-logo {
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
	text-align: center;
	font-size: 22px;
	color: var(--right-bg-color);
	background-color: var(--theme-color);
	background-size: 100%;

}

/* 文字大小 */
.module-title h3 {
	padding: 0 23px 0 15px;
	font-size: 20px;
}

/* 横线 */
.hr {
	height: 3px;
	width: 356px;
	background-color: var(--theme-color);
	position: relative;
}

/* 横线圆圈 */
.hr::before {
	position: absolute;
	display: block;
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--theme-color);
}

/* 右边盒子面板内容 */
.module-content {
	padding: 5px 10px 20px 50px;
}

/* 右边盒子面板内容-->时间线 */
/* .right .module-content>ul {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: space-between;
} */

/* 第一条时间线没有上边距 */
/* .right .module-content>ul:first-child {
	margin-top: 0px;
}
 */

/****************************/
.module-content div:first-child {
	margin: 0;
}

/* 小模块间距 */
.list-wrap {
	margin-top: 10px;
}

.list-wrap strong::after {
	content: '：';
}

/* 二等分 */
.item-col-2 {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}

/* 三等分 */
.item-col-3 {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	overflow: hidden;
}

/* 第一条时间线没有上边距 */
.item-col-3 li {
	margin-top: 0px;
	font-weight: 700;
	/* max-height: 20px;
	overflow: hidden; */
}

.item-col-3 li:nth-child(1) {
	/* flex: 1; */
	text-align: left;
}

.item-col-3 li:nth-child(2) {
	/* flex: 1.2; */
	text-align: center;
}

.item-col-3 li:nth-child(3) {
	/* flex: 0.8; */
	text-align: right;
}



/*****************/
/* 时间线最后没有右边距 */
/* .right .module-content li:last-child {
	margin: 0;
} */

.module-content p {
	margin-bottom: 7px;
}

.module-content p:last-child {
	margin-bottom: 18px;
}

/* 文本图标 */
.item-edit ul li:before {
	margin-right: 8px;
	/* ⋇ */
	/* content: "\22C7" !important; */
	/* ⮚ */
	/* content: "\2B9A" !important; */
	/* ✓ */
	/* content: "\2713" !important; */
	/* · */
	content: "\2022" !important;
}

/* 文本图标-技能特长 */
.jineng .item-edit li::before {
	content: "\2713" !important;
}

/* 文本图标-项目经验 */
.xiangmu .item-edit li {
	margin-left: 16px;
}

/* -------- 自我评价 -------- */
.pingjia li {
	font-size: 16px;
	margin-bottom: 5px;
}







/* ------------------------ 底部 ------------------------ */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: center;
	color: var(--color-white);
	border-radius: 20px 20px 0 0;
	background-color: var(--theme-color);
}

footer a {
	color: var(--color-white);
}

/* ---------------- 开始 ---------------- */
/* -------- 字体图标 -------- */
.iconfont {
	font-size: 22px;
}

/* -------- 调整左侧上下边距 -------- */
/* .box {
	margin: 30px auto;
} */

/* -------- 调整上下边距 -------- */
.module-content {
	padding-top: 5px;
	padding-bottom: 15px;
}

.list-wrap {
	margin-top: 5px;
}

/* .item-edit p {
	line-height: 1.6;
} */

.item-edit li {
	margin-top: 2px;
}

/* ---------------- 结束 ---------------- */