<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>荣誉证书</title>
  <meta name="viewport" content="width=device-width" />
  <!-- favicon图标 -->
  <link rel="shortcut icon" href="../../static/favicon.png" type="image/x-icon">
  <!-- 51la网站统计 -->
  <script src="../../static/js/tongji.js"></script>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/side.css">
  <style>

  </style>
</head>

<body>
  <div id="app" class="container ">

    <!-- ------------------------ 头部 ------------------------ -->
    <header>
      <div class="toubu" v-if="datas.title">
        <ul>
          <li></li>
          <li>
            <h2 @dblclick="shuangji()">{{datas.title}}</h2>
          </li>
          <li></li>
        </ul>
      </div>
    </header>

    <main>
      <div class="module " v-for="(item, index) in datas.datas" :key="index">
        <div class="module-content">
          <div class="list-wrap" v-for="(item, index) in item.data" :key="index">
            <img :id="item.text" :src="item.imgurl">
            <p>{{item.text}}</p>
          </div>
        </div>
      </div>
    </main>
    <!-- ------------------------ 底部 start------------------------ -->
    <footer>
      <ul>
        <li>&copy;</li>
        <!-- <li><a href="//bealei.com">bealei</a></li>
        <li>by</li> -->
        <li><a href="//zhuanglei.top">zhuanglei</a></li>
      </ul>
    </footer>
    <!-- ------------------------ 底部 end ------------------------ -->

    <aside>
      <h4>大纲目录</h4>

      <dl v-for="(item, index) in datas.datas" :key="index">
        <dt class="">{{item.title}}</dt>
        <dd v-for="(item, index) in item.data" :key="index" class=""><a :href="'#'+item.text">{{item.text}}</a>
        </dd>
      </dl>
    </aside>

  </div>







</body>

<!-- vue 3.3.3 -->
<script src="./js/vue.global-3.3.3.min.js"></script>
<script src="./js/datajson.js"></script>
<script src="./js/shuiyin.js"></script>

<script type="text/javascript">

  const { createApp, ref } = Vue

  createApp({
    setup() {

      // mounted() {
      //   watermark('水香木鱼', "SXMY")//添加水印名称
      // }

      // watermark('庄磊', "zhuanglei")//添加水印名称

      return {
        datas: res.content,


      }


    }
  }).mount('#app')
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="./js/index.js"></script>

</html>