@media print {
				.side {
					display: none !important;
				}
			}


.side {
	position: fixed;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.side li {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.side li:nth-child(1) {
	background-color: #1989FA;
}

.side li:nth-child(2) {
	background-color: #5CB87A;
}

.side li:nth-child(3) {
	background-color: #F56C6C;
}

.side li:nth-child(4) {
	background-color: #FFC107;
}
